asn1crypto==0.24.0
CacheControl==0.12.6
cachelib==0.1.1
cachetools==4.1.1
certifi==2020.6.20
cffi==1.14.1
chardet==3.0.4
click==7.1.2
cryptography==2.6.1
dnspython==2.0.0
email-validator==1.1.1
entrypoints==0.3
environ==1.0
firebase-admin==4.3.0
Flask==1.1.2
Flask-Cors==3.0.8
Flask-MySQL==1.5.1
Flask-MySQLdb==0.2.0
Flask-Session==0.3.2
Flask-Sessions==0.1.5
Flask-WTF==0.14.3
google-api-core==1.22.1
google-api-python-client==1.10.0
google-auth==1.20.1
google-auth-httplib2==0.0.4
google-cloud-core==1.4.1
google-cloud-firestore==1.8.1
google-cloud-storage==1.30.0
google-crc32c==0.1.0
google-resumable-media==0.7.1
googleapis-common-protos==1.52.0
grpcio==1.31.0
httplib2==0.18.1
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
jsonify==0.5
keyring==17.1.1
keyrings.alt==3.1.1
MarkupSafe==1.1.1
msgpack==1.0.0
mysqlclient==2.0.1
numpy==1.19.1
protobuf==3.12.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pycrypto==2.6.1
PyGObject==3.30.4
PyMySQL==0.10.0
pytz==2020.1
pyxdg==0.25
requests==2.24.0
rsa==4.6
SecretStorage==2.3.1
six==1.12.0
uritemplate==3.0.1
urllib3==1.25.10
Werkzeug==1.0.1
WTForms==2.3.3
