<style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
    body *, h1, h2, h3, h4, h5, h6{
        font-family: 'Roboto', sans-serif !important;
    }
    div#thanks-wrap {
    margin: 100px auto 0;
    max-width: 360px;
    text-align: center;
}
div#thanks-wrap label {
    display: none;
}
span.timer {
    float: right;
}
span.position-sign {
    width: 20px;
    height: 20px;
    background: #cccc;
    display: inline-block;
    margin: 0 20px;
    border-radius: 20px;
}
div#down-timer {
    width: 100%;
    padding: 10px;
    height: 20px;
}
html {
    overflow: hidden;
}
div#thanks {
    font-size: 2rem;
}
.mdl-card.firebaseui-container {
    margin: 100px auto 0;
}
div#thanks-wrap label {
    display: none;
}
div#thanks-wrap p {
    line-height: 1.5;
    font-size: 0.9rem;
}
textarea#q_feed {
    width: 100%;
    margin: 30px 0;
    min-height: 180px;
}
div#thanks-wrap form * {
    display: block;
}
    .firebaseui-card-content {
    margin: 25px 0 0;
}
    .firebaseui-card-content form input {
    width: 98%;
    border: 0;
    border-bottom: 1px solid #ccc;
}
div#message-inner {
    padding: 20px 0;
    font-size: 1.3rem;
    background: #f5f5a2;
}
.default-instructions {
    margin: 20px 0 0;
}
.firebaseui-card-content span label {
    font-size: .8rem;
    font-weight: 600;
    color: #999;
}
    .firebaseui-card-content form span {
    display: block;
    margin: 10px 0;
}
    div#message {
    position: fixed;
    z-index: 1000;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}
    span.radio-wrap * {
    display: inline !important;
}
    div#quest-counter {
    margin: 0 0 20px;
    font-size: 1.2rem;
}
    div#question-wrapper {
    width: 960px;
    margin: auto;
    padding: 15px;
    border: 1px solid #ccc;
}
div#quest-counter {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}
div#question-text {
    width: 720px;
    margin: 0 auto 25px;
    line-height: 1.5;
    font-size: 0.95rem;
    text-align: justify;
}
div#question-body {
    width: 720px;
    margin: auto;
}
div#question-wrapper form * {
    display: block;
    margin: 0 0 10px;
}
input#submit {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    background: #019ade;
    border: none;
    color: white;
    cursor: pointer;
}
input#q_num {
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid #000;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}
div#quest-counter-inner {
    width: 90%;
    margin: auto;
}
</style>
