<div class="header" style="background-color: rgb(255, 255, 255);">
  <!----><img style="margin-right: 20px; float: left; height: 30px; margin-top: -4px;" src="https://s3-us-west-2.amazonaws.com/correlation1-public/test_engine_assets/logo/correlation-one-demo-fc1523b9-da44-47b0-9175-8774cf89a94c.png">
  <h1 class="header-quiz-title" style="display: inline-block;">Data Scientist</h1>
  <!---->
  <!----><div class="header-quiz-details">15 Questions - <strong>
      60 Minutes</strong></div>
</div>
