<!doctype html>
<html>
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="description" content={{description}}>
    <link rel="shortcut icon" href="/favicon.ico">
    <link href="https://cdn.firebase.com/libs/firebaseui/2.1.1/firebaseui.css" />
    <link href="https://quiz.correlation-one.com/assets/styles/main.css" rel="stylesheet" />
    <link href="https://quiz.correlation-one.com/assets/styles/flexboxgrid.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.10.0/katex.min.css" rely="stylesheet">
    {% block css %}
    <link href="{{ url_for('static', filename='css/cst.css') }}" rel="stylesheet">
    {% endblock %}
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" type="text/javascript"></script>
    {% block javascript %}
    <script src="{{ url_for('static', filename='js/main.js') }}" type="text/javascript"></script>
    {% endblock %}
    {% include 'instyles.html' %}
  </head>
  <body>
      <div id="inner-wrapper">
        <div id="thanks-wrap">
        {% include 'navigation.html' %}
        <div id="thanks">Thanks for your submission</div>
      </div>
    </div>
  </body>
  </html>
